html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
body {
    background-image: url(../image/bg-desktop.svg);
    background-color: var(--color-primary-one);
}

    /*HEADER*/
.container {
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 40px;
}
.container .logo {
    padding: 40px;
    align-items: center;
}


/*SECTION*/

.section {
    display: flex;
    padding: 40px;
    gap: 40px;
}
.imagem img{
    max-width: 700px;
    max-height: 100%
}
.info {
    margin-right: 45px;
}
.info h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}
.info p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.info input[type=submit] {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 60px;
    border-radius: 30px;
    box-shadow: 2px 4px 10px black;
    cursor: pointer;
    color:var(--color-primary-two);
    transition: 0.4s ease-in-out;
}
.info input[type=submit]:hover {
    background-color: var(--color-primary-two);
    color: #fff;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px 85px;
}
footer .coded {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
footer .coded a {
    text-decoration: none;
    color: var(--color-primary-two);
}
footer .coded a:hover {
    color: aqua;
}
.footer a {
    margin: 10px;
}
.footer .fab {
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.footer .fab:hover {
    color: var(--color-primary-two);
    border-radius: 100%;
    border: 1px solid var(--color-primary-two);
}


